<html>
<head>
	<title>SCAV Field Tech Q360</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">  
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="apple-touch-icon" href="../static/imgs/apple-touch-icon.png">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
	<div style="position:fixed; padding-top:10px; top:0px; z-index:2000; width:100%; background: white;"">
    	<center>
      	<a href="/"><img src="../static/imgs/logo.png" alt="South Central AV Checklist"></a>
    	</center>
  	</div>
  	
	<div class="container-fluid" style="padding-top: 100px;">
		<div class="row">
			<div class="col-md-4" >
				<div id="fullscreen_bg" class="fullscreen_bg"/>

				<div class="container" style="padding-top:50px;">

					<form class="form-signin" action="/login" method="post">
						<h1 class="form-signin-heading text-muted">Sign In</h1>
						<input id="user" name="user" type="text" class="form-control" placeholder="Username" required="" autofocus="">
						<input id="password" name="password" type="password" class="form-control" placeholder="Password" required="">
						<hr>
						<button class="btn btn-lg btn-primary btn-block" type="submit">
							Sign In
						</button>
					</form>

					<center>
						{{ wrongAlert|safe }}
					</center>

				</div>
			</div>
		</div>
	</div>

	<!-- <script src="../static/js/index.js"></script> -->
</body>

</html>